aside {
    width: 0;
    /* column-count: 1; */
  
    display: block;
    height: 100vh;
    margin-top: -52%;
    margin-left: 18%;
    
}
aside h1 {
    font: 18px var(--primary-font-family);
    color: white;
    font-weight: var(--primary-font-family);
    text-align: center;
}
aside img {
    border-radius: 50%;
    height: 225px;
    width: 225px;
    display: block;
    position: relative;
}
aside button {
    background-color: #161b22;
    color: white;
    border-radius: 5px;
   font-family: var(--primary-font-family);
   font-size: 12px;
   text-align: center;
}