footer {
    display: flex;
    position: relative;
    margin-top: 0px;
    flex: auto;
    align-items: center;
    /* flex-wrap: nowrap; */
    align-self: stretch;
    padding: 8px;
    font: var(--primary-font-family);
    margin-left: 12px;
}
footer img {
    width: 32px;
    height: 32px;
    
    
    }

footer a {
    color: #f0f6fc;
    font: var(--primary-font-family);
    font-weight: 500;
    font-size: 12px;
   /* box-align: center; */
    
}